[submodule "Wildlands/Externals/spdlog"]
	path = Wildlands/Externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wildlands/Externals/GLFW"]
	path = Wildlands/Externals/GLFW
	url = https://github.com/WwEIiC/GLFW
[submodule "Wildlands/Externals/ImGui"]
	path = Wildlands/Externals/ImGui
	url = https://github.com/WwEIiC/ImGui
[submodule "Wildlands/Externals/glm"]
	path = Wildlands/Externals/glm
	url = https://github.com/g-truc/glm
[submodule "Wildlands/Externals/ImGuizmo"]
	path = Wildlands/Externals/ImGuizmo
	url = https://github.com/WwEIiC/ImGuizmo
	branch = master
[submodule "Wildlands/Externals/yaml_cpp"]
	path = Wildlands/Externals/yaml_cpp
	url = https://github.com/WwEIiC/yaml-cpp
	branch = master
